.margin-top-and-bottom{
    margin-top: 0px;
    margin-bottom: 0px;
    color:rgb(4, 0, 255)
}
.display-flex{
    display: flex;
   
}
.margin-top-and-bottom1{
    margin-top: 0px;
    margin-bottom: 0px;
    color: rgb(3, 7, 12);
}
#image-style{
    border: 8px solid slategrey;
}
#body-style{
    font-family: 'Montserrat', sans-serif;

}
.text-color{
    color: white;
}