
        .margin-top-and-bottom{
            margin-top: 0px;
            margin-bottom: 3px;
        }
        .display-flex{
            display: flex;
        }
    .inline-block{
        display:inline-block
    }
    .margin-top-and-bottom1{
            margin-top: 0px;
            margin-bottom: 0px;
        }
    .margin-start{
        margin-right: 3px;
    }
    .margin-start1{
        margin-right: 8px;
    }
    
    
